<form [formGroup]="cadastroForm" (ngSubmit)="submitForm()">
  <label>
    Nome
    <input type="text" formControlName="firstName" />
    <span *ngIf=" cadastroForm.get('firstName')?.errors &&
      (cadastroForm.get('firstName')?.touched &&
      cadastroForm.get('firstName')?.dirty)" style="color: red"
    >
      Digite um nome válido
    </span>
  </label>
  <br />
  <label>
    Sobrenome
    <input type="text" formControlName="lastName" />
    <span *ngIf=" cadastroForm.get('lastName')?.errors &&
      (cadastroForm.get('lastName')?.touched &&
      cadastroForm.get('lastName')?.dirty)" style="color: red"
    >
      Deve ter no mínimo: {{cadastroForm.get("lastName")?.errors?.['minlength']?.requiredLength}}
       e você digitou: {{cadastroForm.get("lastName")?.errors?.['minlength']?.actualLength}}
    </span>
  </label>
  <br /><br />
  Nome: {{ cadastroForm.get("firstName")?.value }}
  Sobrenome: {{ cadastroForm.get("lastName")?.value }}

  <br /><br />
  <label>
    Email
    <input type="email" formControlName="email" />
  </label>

  <p>
    {{ cadastroForm.get("firstName")?.errors | json }}
    <!-- Será exibido "true" caso exista algum erro e "null" caso não exita -->
    {{ cadastroForm.get("firstName")?.touched | json }}
    {{ cadastroForm.get("firstName")?.dirty | json }}

    {{ cadastroForm.get("lastName")?.errors | json }}

    {{ cadastroForm.get("email")?.errors | json }}

  </p>

  <br />
  <button [disabled]="cadastroForm.invalid">Enviar</button>
</form>
